.App {
  text-align: center;
  background-color: black;
  width: 100% !important;
}

html {
  background-color: black;
  width: 100%;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}
/* .TitleStuff{
  animation: fadeIn 5s;
animation-fill-mode:forwards;
}

@keyframes fadeIn {
  0% { 
    opacity: 0 !important;

  }
  100% { 
    opacity: .60 !important;
  
  }
} */

.App-header {
  min-height: 100vh;
  /* display: flex;
  flex-direction: column; */
  position:relative;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  /* color: black; */
}

.backy{
  background-image: url("noopacitymain.png");
  background-size:cover;
  background-repeat: no-repeat;
  background-position: center;
  /* background-image: 100%; */
  /* background-size:100%; */
  width: 100%;
  height: 100vh;
  animation: fadeIn 5s;
  animation-fill-mode:forwards; 
  transform: translateY(-1rem);
  /* box-shadow: 10px 10px 5px gray; */

}



@keyframes fadeIn {
  0% { 
    opacity: 0; 

  }
  100% { 
    opacity: .60; 
  
  }

}

.encap{
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  /* margin:25px; */
  padding: 2rem;
  max-width: 100% !important;
  
}

.alignment{
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 1rem;
  /* align-items: center; */
}
.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.subtitle{
  font-family: 'Brush Script MT', cursive;
  color: #282c34;
  font-size: 65px;
  line-height: 10pt;

}

.DrawSection{
  display: flex;
  flex-direction: column;
  align-items: center;
  /* background-image: url(encapbox.png); */
  background-color: rgba(255, 255, 255, 0.795);
  height: max-content;
  padding-bottom: 1rem;

}

.Typed_Stuff{
  display: flex;
  flex-direction: column;
  background-color: rgb(108, 29, 108);
  background-size:contain;
  border-radius: 2rem;
  /* margin-left: 10%; */
  width:700px;
  max-width: 45% !important;
  gap: 1rem;
  height: max-content;
  padding-bottom: 2rem;
  /* background-position: fixed; */
}

.Typed_Stuff h2 {
  font-size: 3rem;
  margin: 2rem 0;
}

#TitleStuff{
  display: flex;
  flex-direction: row;
  position: relative;
  justify-content: center;
  align-items: center;
  width: 70%;
  margin-top: 5rem;
  /* top: 25%; */
  /* left: 25%; */
  /* margin: 0 auto; */
}

.backy2 {
  position: absolute;
  width: 100%;
  height: 90vh;
  top: -1rem;
  left: 0;
  display: flex;
  justify-content: center;
  align-items:center;
}

.rows {
  display: flex;
  flex-direction: row;
  justify-content: center;
  /* align-items: center; */
  gap: 1rem;
}

.canvas-real {
  width: 38vw !important;
  height: 38vw !important;
}


.circles{
  block-size: 10%;;
}

.circle_class img {
  cursor: pointer;
}

.gap {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 1rem;
}

#canv {
  gap: 1rem;
  display: flex;
  flex-direction: column;
}

.rows-real {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

@media (pointer:none), (pointer:coarse) {

  .App-header {
    font-size: large;
  }

  h1 {
    font-size: 5rem !important;
  }

  .alignment {
    /* flex-direction: column; */
    flex-direction: column-reverse;
  }

  .Typed_Stuff {
    width: 100%;
    max-width: 100% !important;
    padding-bottom: 2rem;
    min-height: 80vh;
    justify-content: space-between;
  }

  .Directions h2 {
    width: 100%;
    max-width: 100% !important;
    font-size: 2.5rem !important;
  }

  #canv {
    width: 90vw !important;
    /* height: 90vw !important; */
    max-width: 100% !important;
    gap: 1rem;
    display: flex;
    flex-direction: column;
  }

  .canvas-real {
    width: 90vw !important;
    height: 90vw !important;
    max-width: 100% !important;
  }

  canvas {
    width: 90vw !important;
    height: 90vw !important;
    max-width: 100% !important;
  }

  .rows {
    flex-direction: column-reverse;
  }

  .rows-real {
    flex-direction: row-reverse;
  }

  .circle_class {
    flex-direction: row !important;
    gap: 1rem;
  }
} 

