.App {
  text-align: center;
  background-color: black;
  
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}
/* .TitleStuff{
  animation: fadeIn 5s;
animation-fill-mode:forwards;
}

@keyframes fadeIn {
  0% { 
    opacity: 0 !important;

  }
  100% { 
    opacity: .60 !important;
  
  }
} */

.App-header {
  min-height: 100vh;
  /* display: flex;
  flex-direction: column; */
  position:relative;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  /* color: black; */
}

.backy{
  background-image: url("noopacitymain.png");
  background-size:cover;
  background-repeat: no-repeat;
  background-image: 100%;
  background-size:100%;
  width: 100%;
  height: 900px;
  animation: fadeIn 5s;
  animation-fill-mode:forwards; 
  box-shadow: 10px 10px 5px gray;

}



@keyframes fadeIn {
  0% { 
    opacity: 0; 

  }
  100% { 
    opacity: .60; 
  
  }

}

.encap{
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  margin:25px;
  
}

.alignment{
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 1rem;
  /* align-items: center; */
}
.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.subtitle{
  font-family: 'Brush Script MT', cursive;
  color: #282c34;
  font-size: 65px;
  line-height: 10pt;

}

.DrawSection{
  display: flex;
  flex-direction: column;
  background-image: url(encapbox.png);

}

.Typed_Stuff{
  display: flex;
  flex-direction: column;
  background-color: rgb(108, 29, 108);
  background-size:contain;
  border-radius: 2rem;
  /* margin-left: 10%; */
  width:700px;
  max-width: 50% !important;
  /* background-position: fixed; */
}

#TitleStuff{
  display: flex;
  flex-direction: row;
  position: absolute;
  width: 70%;
  top: 25%;
  left: 25%;
  
  
}
.circles{
  block-size: 10%;;
}
