
.font-loader{
    display: flex;
    flex-direction: column;
    justify-items: center;
    background-color: black;
    border-radius: 10%;
    filter: drop-shadow(50%);

}

h1{
    font-family: 'Rubik Spray Paint';
    color:white;
    font-size: 150px;
    font-weight: lighter;
    /* line-height: 50%; */
}
.sub{
    font-family: 'Delicious Handrawn';
    color: white;
    font-size: 100px;
    
    /* line-height: 50%; */
    
    
}


