.circle_class{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.one_brush{
    width:15px;
    height: 15px;
    align-self: center;
}

.two_brush{
    width:20px;
    height: 20px;
    align-self: center;
}
.three_brush{
    width:25px;
    height: 25px;
    align-self: center;
}
.four_brush{
    width:30px;
    height: 30px;
    align-self: center;

}
.five_brush{
    width:35px;
    height: 35px;
    align-self: center;

}

